{% extends 'base.html' %}

{% block content %}
  <h1>{{ app_name }}</h1>
  <p>Nama: {{ student_name }}</p>
  <p>Kelas: {{ student_class }}</p>

  <a href="{% url 'main:add_product' %}">➕ Add</a>

  <table border="1" cellpadding="6" cellspacing="0" style="margin-top:12px;">
    <thead>
      <tr>
        <th>ID</th><th>Name</th><th>Category</th><th>Price</th><th>Featured</th><th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for p in products %}
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.category }}</td>
          <td>{{ p.price }}</td>
          <td>{{ p.is_featured }}</td>
          <td><a href="{% url 'main:product_detail' p.id %}">Detail</a></td>
        </tr>
      {% empty %}
        <tr><td colspan="6">Belum ada produk.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

